p.current {
  background-color: darkseagreen;
  font-weight: bold;
  border: 1px solid rgba(0, 0, 0, .2);
}

p.next {
  background-color: floralwhite;
  border: 1px solid rgba(0, 0, 0, .2);
}

.meta-container > p {
  display: inline-block;
  padding: 10px 15px;
  margin: 10px 0;
  width: 27%;
}

#content {
  font-family: sans-serif;
  color: #333;
  margin: 0 auto;
  display: inline-block;
  text-align: left;
}

body {
  text-align: center;
}